@*@model IQueryable<DataProvider.Model.Author>

@{
    ViewBag.Title = "ListAuthor";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_table.cshtml";
}

@section linkpage{
<li><a href="#">Dashboard</a></li>
<li><a href="#">Author</a></li>
<li class="active">List Author</li>
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Data Table</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Họ tên</th>
                                    <th>Mô tả</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(model => item.AuthorID)</td>
                                        <td>@Html.DisplayFor(model => item.AuthorName)</td>
                                        <td>@Html.DisplayFor(model => item.DescriptionAuthor)</td>
                                    </tr>
                                }          
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->*@

@model IQueryable<DataProvider.Model.Author>

@{
    ViewBag.Title = "ListAuthor";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_table.cshtml";
}

@section linkpage{
<li><a href="#">Dashboard</a></li>
<li><a href="#">Author</a></li>
<li class="active">List Author</li>
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title datatable-label">Data Table</strong><button type="button" class="btn btn-primary btn-mau-nen-xam" onclick="location.href='@Url.Action("Create","Author")'"><i class="fa fa-plus-square"></i> Thêm mới</button>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Họ tên</th>
                                    <th>Mô tả</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(model => item.AuthorID)</td>
                                        <td>@Html.DisplayFor(model => item.AuthorName)</td>
                                        <td>@Html.DisplayFor(model => item.DescriptionAuthor)</td>
                                        <td>
                                            <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> Sửa</button>
                                            <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Xoá</button>
                                            <button type="button" class="btn btn-success btn-sm"><i class="fa fa-tasks"></i> Details</button>
                                        </td>
                                    </tr>
                                }                                      
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->


